<template>
  <v-container>
    <h1 id="title" class="mb-2 text-center">Ingrédients</h1>
    <v-data-table
      :headers="headers"
      :items="ingredients"
      :search="search"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Ingrédients</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <div id="search">
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Rechercher"
              single-line
              hide-details
            ></v-text-field>
          </div>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon color="#696969" small @click="deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Réinitialiser</v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="500px">
      <template v-slot:activator="{ on }">
        <v-btn class="btn-add-ingredient" fab x-small color="#3A8091" v-on="on">
          <v-icon color="white">
            mdi-plus
          </v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="ingredient.name"
                :rules="nameRules"
                label="Nom de l'ingrédient"
                required
              ></v-text-field>
              <v-text-field
                v-model="ingredient.calories"
                label="Calories"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.water"
                label="Eau"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.proteins"
                label="Protéines"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.glucids"
                label="Glucides"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.lipids"
                label="Lipides"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.sugars"
                label="Sucres"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.starch"
                label="Amidon"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.fibers"
                label="Fibres"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.fatSaturated"
                label="Gras saturé"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.fatMonoUnsaturated"
                label="Gras mono insaturé"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.fatPolyUnsaturated"
                label="Gras poly insaturé"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.calories"
                label="Calories"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.cholesterol"
                label="Cholesterol"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.salt"
                label="Sel"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.calcium"
                label="Calcium"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.chlorure"
                label="Chlorure"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.copper"
                label="Cuivre"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.iron"
                label="Fer"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.iode"
                label="Iode"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.magnesium"
                label="Magnesium"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.manganese"
                label="Manganese"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.phosphore"
                label="Phosphore"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.potassium"
                label="Potassium"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.selenium"
                label="Selenium"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.sodium"
                label="Sodium"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.zinc"
                label="Zinc"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.retinol"
                label="Retinol"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.betaCarotene"
                label="Bêta carotène"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminD"
                label="Vitamine D"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminE"
                label="Vitamine E"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminK1"
                label="Vitamine K1"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminK2"
                label="Vitamine K2"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminC"
                label="Vitamine C"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminB1"
                label="Vitamine B1"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminB2"
                label="Vitamine B2"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminB3"
                label="Vitamine B3"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminB5"
                label="Vitamine B5"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminB6"
                label="Vitamine B6"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminB9"
                label="Vitamine B9"
                type="number"
                step="any"
              ></v-text-field>
              <v-text-field
                v-model="ingredient.vitaminB12"
                label="Vitamine B12"
                type="number"
                step="any"
              ></v-text-field>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
          <v-btn
            text
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="save"
            >Enregistrer</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { IngredientService } from "../services/ingredient.service";

export default {
  data: () => ({
    search: "",
    ingredients: [],
    valid: true,
    dialog: false,
    ingredient: {},
    nameRules: [(v) => !!v || "Nom de l'ingrédient requis"],
    headers: [
      {
        text: "Nom",
        align: "start",
        value: "name",
      },
      {
        text: "Calories",
        value: "calories",
      },
      {
        text: "Eau",
        value: "water",
      },
      {
        text: "Protéines",
        value: "proteins",
      },
      {
        text: "Glucides",
        value: "glucids",
      },
      {
        text: "Lipides",
        value: "lipids",
      },
      {
        text: "Sucres",
        value: "sugars",
      },
      {
        text: "Amidon",
        value: "starch",
      },
      {
        text: "Fibres",
        value: "fibers",
      },
      {
        text: "Gras saturé",
        value: "fatSaturated",
      },
      {
        text: "Gras mono insaturé",
        value: "fatMonoUnsaturated",
      },
      {
        text: "Gras poly insaturé",
        value: "fatPolyUnsaturated",
      },
      {
        text: "Cholesterol",
        value: "cholesterol",
      },
      {
        text: "Sel",
        value: "salt",
      },
      {
        text: "Calcium",
        value: "calcium",
      },
      {
        text: "Chlorure",
        value: "chlorure",
      },
      {
        text: "Cuivre",
        value: "copper",
      },
      {
        text: "Fer",
        value: "iron",
      },
      {
        text: "Iode",
        value: "iode",
      },
      {
        text: "Magnesium",
        value: "magnesium",
      },
      {
        text: "Manganese",
        value: "manganese",
      },
      {
        text: "Phosphore",
        value: "phosphore",
      },
      {
        text: "Potassium",
        value: "potassium",
      },
      {
        text: "Selenium",
        value: "selenium",
      },
      {
        text: "Sodium",
        value: "sodium",
      },
      {
        text: "Zinc",
        value: "zinc",
      },
      {
        text: "Retinol",
        value: "retinol",
      },
      {
        text: "Bêta carotène",
        value: "betaCarotene",
      },
      {
        text: "Vitamine D",
        value: "vitaminD",
      },
      {
        text: "Vitamine E",
        value: "vitaminE",
      },
      {
        text: "Vitamine K1",
        value: "vitaminK1",
      },
      {
        text: "Vitamine K2",
        value: "vitaminK2",
      },
      {
        text: "Vitamine C",
        value: "vitaminC",
      },
      {
        text: "Vitamine B1",
        value: "vitaminB1",
      },
      {
        text: "Vitamine B2",
        value: "vitaminB2",
      },
      {
        text: "Vitamine B3",
        value: "vitaminB3",
      },
      {
        text: "Vitamine B5",
        value: "vitaminB5",
      },
      {
        text: "Vitamine B6",
        value: "vitaminB6",
      },
      {
        text: "Vitamine B9",
        value: "vitaminB9",
      },
      {
        text: "Vitamine B12",
        value: "vitaminB12",
      },
      { text: "Actions", value: "actions", sortable: false },
    ],
    editedIndex: -1,
    defaultItem: {
      name: "",
      calories: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Ajouter un ingrédient"
        : "Modifier un ingrédient";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  mounted() {
    this.initialize();
  },

  methods: {
    initialize() {
      IngredientService.findAll()
        .then((response) => {
          this.ingredients = response.data;
        })
        .catch((error) => {
          console.log(error.message);
        });
    },

    editItem(item) {
      this.editedIndex = this.ingredients.indexOf(item);
      this.ingredient = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      confirm("Êtes vous sûr de vouloir supprimer cet ingrédient ?") &&
        IngredientService.delete(item.id)
          .then(() => {
            this.initialize();
          })
          .catch((error) => {
            console.log(error.message);
          });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.ingredient = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        let ingredientData = {
          name: this.ingredient.name,
          calories: parseFloat(this.ingredient.calories) ?? null,
          water: parseFloat(this.ingredient.water) ?? null,
          proteins: parseFloat(this.ingredient.proteins) ?? null,
          glucids: parseFloat(this.ingredient.glucids) ?? null,
          lipids: parseFloat(this.ingredient.lipids) ?? null,
          sugars: parseFloat(this.ingredient.sugars) ?? null,
          starch: parseFloat(this.ingredient.starch) ?? null,
          fibers: parseFloat(this.ingredient.fibers) ?? null,
          fatSaturated: parseFloat(this.ingredient.fatSaturated) ?? null,
          fatMonoUnsaturated:
            parseFloat(this.ingredient.fatMonoUnsaturated) ?? null,
          fatPolyUnsaturated:
            parseFloat(this.ingredient.fatPolyUnsaturated) ?? null,
          cholesterol: parseFloat(this.ingredient.cholesterol) ?? null,
          salt: parseFloat(this.ingredient.salt) ?? null,
          calcium: parseFloat(this.ingredient.calcium) ?? null,
          chlorure: parseFloat(this.ingredient.chlorure) ?? null,
          copper: parseFloat(this.ingredient.copper) ?? null,
          iron: parseFloat(this.ingredient.iron) ?? null,
          iode: parseFloat(this.ingredient.iode) ?? null,
          magnesium: parseFloat(this.ingredient.magnesium) ?? null,
          manganese: parseFloat(this.ingredient.manganese) ?? null,
          phosphore: parseFloat(this.ingredient.phosphore) ?? null,
          potassium: parseFloat(this.ingredient.potassium) ?? null,
          selenium: parseFloat(this.ingredient.selenium) ?? null,
          sodium: parseFloat(this.ingredient.sodium) ?? null,
          zinc: parseFloat(this.ingredient.zinc) ?? null,
          retinol: parseFloat(this.ingredient.retinol) ?? null,
          betaCarotene: parseFloat(this.ingredient.betaCarotene) ?? null,
          vitaminD: parseFloat(this.ingredient.vitaminD) ?? null,
          vitaminE: parseFloat(this.ingredient.vitaminE) ?? null,
          vitaminK1: parseFloat(this.ingredient.vitaminK1) ?? null,
          vitaminK2: parseFloat(this.ingredient.vitaminK2) ?? null,
          vitaminC: parseFloat(this.ingredient.vitaminC) ?? null,
          vitaminB1: parseFloat(this.ingredient.vitaminB1) ?? null,
          vitaminB2: parseFloat(this.ingredient.vitaminB2) ?? null,
          vitaminB3: parseFloat(this.ingredient.vitaminB3) ?? null,
          vitaminB5: parseFloat(this.ingredient.vitaminB5) ?? null,
          vitaminB6: parseFloat(this.ingredient.vitaminB6) ?? null,
          vitaminB9: parseFloat(this.ingredient.vitaminB9) ?? null,
          vitaminB12: parseFloat(this.ingredient.vitaminB12) ?? null,
        };

        if (this.ingredient.id) {
          IngredientService.update(this.ingredient.id, ingredientData)
            .then(() => {
              this.close();
              this.initialize();
            })
            .catch((error) => {
              console.log(error.message);
            });
        } else {
          IngredientService.create(ingredientData)
            .then(() => {
              this.close();
              this.initialize();
            })
            .catch((error) => {
              console.log(error.message);
            });
        }
      }
    },
  },
};
</script>

<style scoped>
#search {
  min-width: 260px;
  margin-right: 100px;
}
.full-height {
  height: 100%;
}
#main-div {
  display: flex;
  flex-direction: column;
}
.btn-add-ingredient {
  position: fixed;
  bottom: 50px;
  right: 20px;
}
#title {
  font-family: "Indie Flower", cursive;
  font-size: 23px;
}
</style>
