<template>
  <v-container class="container full-height">
    <div
      id="main-div"
      class="d-flex justify-center align-center align-self-center full-height"
    >
      <v-form id="login-form" ref="form" v-model="valid" lazy-validation>
        <v-alert v-if="authenticationError" dense outlined type="error">
          L'email ou le mot de passe est incorrect
        </v-alert>
        <v-alert v-if="alertMailSent" dense outlined type="success">
          Un email de réinitialisation de mot de passe vous a été envoyé
        </v-alert>
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="Email"
          required
          @input="formChange"
        ></v-text-field>
        <v-text-field
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          v-model="password"
          :rules="passwordRules"
          label="Mot de passe"
          required
          @click:append="showPassword = !showPassword"
          @input="formChange"
        ></v-text-field>
        <v-dialog v-model="dialog" persistent max-width="600px">
          <template v-slot:activator="{ on }">
            <div id="forgot-password">
              <a v-on="on" id="forgot-password-link"
                ><small>Mot de passe oublié ?</small></a
              >
            </div>
          </template>
          <v-form
            id="reset-password-form"
            ref="resetPasswordForm"
            v-model="valid"
            lazy-validation
          >
            <v-card>
              <v-card-title>
                <span class="headline">Mot de passe oublié</span>
              </v-card-title>
              <v-card-text
                >Saisissez votre adresse mail ci-dessous afin de recevoir un
                lien de réinitialisation</v-card-text
              >
              <v-card-text>
                <v-alert
                  v-if="showForgotPasswordAlert"
                  dense
                  outlined
                  type="error"
                >
                  Aucun compte ne correspond à cette adresse email
                </v-alert>
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="emailForgotPassword"
                        :rules="emailRules"
                        label="Email"
                        required
                        @input="formChange"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false"
                  >Annuler</v-btn
                >
                <v-btn :disabled="!valid" color="green darken-1" text
                  >Confirmer</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>
        <v-btn
          :disabled="!valid"
          color="success"
          class="mr-4"
          @click="loginSubmit"
        >
          Se connecter
        </v-btn>
        <div id="register-div">
          Pas encore inscrit ? <br /><b
            ><a id="register-link" @click="$router.push('register')">Je crée mon compte !</a></b
          >
        </div>
      </v-form>
    </div>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Login",

  computed: {
    ...mapState("user", ["authenticationError"]),
  },

  data: () => ({
    valid: true,
    showPassword: false,
    showForgotPasswordAlert: false,
    alertMailSent: false,
    dialog: false,
    emailForgotPassword: "",
    email: "",
    emailRules: [
      (v) => !!v || "Email requis",
      (v) => /.+@.+\..+/.test(v) || "Email non valide",
    ],
    password: "",
    passwordRules: [
      (v) => !!v || "Mot de passe requis",
      (v) =>
        (v && v.length >= 8) ||
        "Le mot de passe doit contenir 8 caractères au minimum",
    ],
  }),

  methods: {
    loginSubmit: async function() {
      if (this.$refs.form.validate()) {
        let connected = await this.$store.dispatch("user/login", {
          email: this.email,
          password: this.password,
        });

        if (connected) {
          this.$router.push("/recipes");
        }
      }
    },

    formChange: function() {
      this.showForgotPasswordAlert = false;
      this.alertMailSent = false;
    },
  },
};
</script>

<style scoped>
.full-height {
  height: 100%;
}
#login-form {
  width: 300px;
}
#forgot-password {
  float: right;
  margin-bottom: 20px;
}
#forgot-password-link {
  text-decoration: none;
}
#register-div {
  margin-top: 50px;
}
#register-link {
  text-decoration: none;
}
</style>
