<template>
  <v-container>
    <h1 id="title" class="mb-2 text-center">Mes recettes</h1>
    <v-autocomplete
      @change="filterChange"
      clearable
      v-model="filters"
      :items="categories"
      item-text="name"
      item-value="id"
      outlined
      dense
      chips
      small-chips
      label="Filtres"
      multiple
      hide-details
    ></v-autocomplete>
    <v-autocomplete
      class="mt-2"
      v-model="selectedRecipe"
      clearable
      :items="filteredRecipes"
      item-text="name"
      item-value="id"
      outlined
      dense
      label="Rechercher"
      hide-details
    ></v-autocomplete>
    <v-list rounded shaped>
      <v-list-item
        v-for="recipe in filteredRecipes"
        :key="recipe.id"
        @click="onRecipeClick(recipe.id)"
      >
        <v-list-item-content>
          <v-list-item-title v-text="recipe.name"></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-btn
      class="btn-add-recipe"
      fab
      small
      color="#3A8091"
      @click="$router.push({ name: 'recipes-action' })"
    >
      <v-icon color="white">
        mdi-plus
      </v-icon>
    </v-btn>
  </v-container>
</template>

<script>
import { CategoryService } from "../services/category.service";
import { RecipeService } from "../services/recipe.service";

export default {
  data() {
    return {
      selectedRecipe: null,
      recipes: [],
      categories: [],
      filters: [],
      filteredRecipes: [],
    };
  },
  created() {
    CategoryService.findAll()
      .then((response) => (this.categories = response.data))
      .catch((error) => console.log(error));
    RecipeService.findAll()
      .then((response) => {
        this.recipes = response.data;
        this.filteredRecipes = response.data;
      })
      .catch((error) => console.log(error));
  },
  watch: {
    selectedRecipe() {
      this.onRecipeClick(this.selectedRecipe);
    },
  },
  methods: {
    filterChange: function() {
      this.filteredRecipes = this.recipes;

      if (this.filters.length > 0) {
        this.filteredRecipes = this.recipes.filter((recipe) => {
          if (recipe.categories.length === 0) {
            return false;
          }

          let recipeCategoriesIds = recipe.categories.map(
            (category) => category.id
          );

          let intersection = this.filters.filter(
            (categoryId) => !recipeCategoriesIds.includes(categoryId)
          );

          return intersection.length === 0;
        });
      }
    },
    onRecipeClick: function(recipeId) {
      this.$router.push({ path: `recipes/${recipeId}` });
    },
  },
};
</script>

<style scoped>
.btn-add-recipe {
  position: fixed;
  bottom: 50px;
  right: 20px;
}
#title {
  font-family: "Indie Flower", cursive;
  font-size: 23px;
}
</style>
