<template>
  <v-container v-if="recipe">
    <v-row>
      <v-col cols="10" class="flex align-center">
        <h1 id="title" class="text-center">{{ recipe.name }}</h1>
        <v-btn icon color="black" @click="editRecipe" x-small class="ml-2">
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="2" class="flex">
        <v-btn
          v-if="!recipeInCart"
          icon
          color="#3A8091"
          @click="handleRecipeToCart"
        >
          <v-icon>mdi-cart-plus</v-icon>
        </v-btn>
        <v-btn v-else icon color="green">
          <v-icon>mdi-cart-check</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-card elevation="1">
      <v-card-subtitle class="pl-2">
        <b>Nombre de parts : </b>{{ recipe.parts }}
      </v-card-subtitle>
    </v-card>
    <v-card v-if="ingredients.length > 0" class="my-3 pb-6" elevation="1">
      <v-card-subtitle class="card-subtitle px-2 pt-1 pb-0">
        <b>Ingrédients</b>
      </v-card-subtitle>
      <v-card-text
        class="px-2 py-1"
        v-for="cook in cooks"
        :key="cook.ingredient.id"
      >
        <v-row style="max-height: 30px">
          <v-col class="py-0 pr-0 pl-3 ingredient-name" cols="10">
            - {{ formatIngredient(cook) }}
          </v-col>
          <v-col cols="2">
            <v-btn
              v-if="!ingredientInCart(cook.ingredient.id)"
              icon
              x-small
              color="#3A8091"
              v-longpress="proposeList"
              @click="handleIngredientToCart(cook)"
            >
              <v-icon>mdi-cart-plus</v-icon>
            </v-btn>
            <v-btn v-else icon color="green">
              <v-icon>mdi-cart-check</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-dialog v-model="listModal" width="500">
          <v-card>
            <v-card-title class="headline">
              Liste de course
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-select
                    v-model="listForm"
                    :items="lists"
                    label="Liste"
                    item-text="title"
                    return-object
                  ></v-select>
                </v-form>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
              <v-btn
                text
                :disabled="!valid"
                color="success"
                class="mr-4"
                @click="handleIngredientToCart(cook)"
              >
                Enregistrer
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card-text>
    </v-card>
    <v-card elevation="1">
      <v-card-subtitle class="card-subtitle px-2 pt-1 pb-3">
        <b>Préparation</b>
      </v-card-subtitle>
      <v-card-text>
        <editor-content :editor="editor" />
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { RecipeService } from "../services/recipe.service";
import { CookService } from "../services/cook.service";
import { IngredientService } from "../services/ingredient.service";
import { UnitService } from "../services/unit.service";
import { ShopListService } from "../services/shopList.service";
import { Editor, EditorContent } from "tiptap";
import { ToolsService } from "../services/tools.service";
import { UserListService } from "../services/user-list.service";
import { UserService } from "../services/user.service";
import { HardBreak, Heading, Bold, Italic, Link } from "tiptap-extensions";

export default {
  components: {
    EditorContent,
  },
  data() {
    return {
      listModal: false,
      user: null,
      listForm: null,
      valid: true,
      lists: [],
      recipe: null,
      ingredients: [],
      cooks: [],
      originalCooks: [],
      recipeInCart: false,
      ingredientsInCart: [],
      editor: new Editor({
        editable: false,
        extensions: [
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new Link(),
          new Bold(),
          new Italic(),
        ],
        content: "",
      }),
    };
  },
  async created() {
    RecipeService.findOne(this.$route.params.id)
      .then((response) => {
        this.recipe = response.data;
        this.editor.setContent(this.recipe.description);

        CookService.findByRecipe(this.recipe.id)
          .then(async (response) => {
            let cooks = (this.originalCooks = response.data);
            let promises = [];

            cooks.forEach((cook) => {
              promises.push(IngredientService.findOne(cook.ingredientId));
            });

            let results = await Promise.all(promises);
            this.ingredients = results.map((result) => {
              return result.data;
            });

            for (let i = 0; i < this.ingredients.length; i++) {
              if (cooks[i].unitId) {
                UnitService.findOne(cooks[i].unitId)
                  .then((result) => {
                    this.cooks.push({
                      ingredient: this.ingredients[i],
                      quantity: cooks[i].quantity,
                      unit: result.data,
                    });
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              } else {
                this.cooks.push({
                  id: cooks[i].id,
                  ingredient: this.ingredients[i],
                  quantity: cooks[i].quantity,
                  unit: null,
                });
              }
            }
          })
          .catch((error) => {
            console.log(error);
          });

        UserService.getCurrentUser()
          .then((response) => {
            this.user = response.data;
            UserListService.findByUserId(this.user.id)
              .then((result) => {
                this.lists = result.data;
              })
              .catch((err) => {
                console.log(err);
              });
          })
          .catch((error) => {
            console.log(error);
          });
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    close() {
      this.listModal = false;
    },
    proposeList: function() {
      this.listModal = true;
    },
    editRecipe: function() {
      this.$router.push({ path: `/recipes/action/${this.recipe.id}` });
    },
    ingredientInCart: function(ingredientId) {
      return this.ingredientsInCart.includes(ingredientId);
    },
    handleRecipeToCart: function() {
      this.originalCooks.forEach((cook) => {
        ShopListService.create(cook)
          .then(() => {
            this.recipeInCart = true;
          })
          .catch((error) => {
            console.log(error);
          });
      });
    },
    handleIngredientToCart: function(data) {
      data.userList = this.listForm ?? null;

      ShopListService.create(data)
        .then(() => {
          this.ingredientsInCart.push(data.ingredient.id);
          this.listModal = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    formatIngredient(data) {
      return ToolsService.formatIngredient(data);
    },
  },
};
</script>

<style scoped>
#title {
  font-size: 20px;
}
.flex {
  display: flex;
}
.ingredient-name {
  display: flex;
  align-items: center;
}
</style>
