<template>
  <v-container>
    <v-alert
      v-if="alertRecipeSaved"
      dense
      dismissible
      elevation="4"
      outlined
      text
      type="success"
    >
      La recette est enregistrée
    </v-alert>
    <v-row>
      <v-col
        v-bind:cols="recipe === null ? 12 : 10"
        class="flex align-center justify-center"
      >
        <h1 id="title" class="mb-2">{{ getTitle() }}</h1>
      </v-col>
      <v-col cols="2" class="flex align-center" v-if="recipe !== null">
        <v-row justify="center">
          <v-dialog v-model="dialogDeleteRecipe" persistent max-width="290">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon color="#696969" v-bind="attrs" v-on="on">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="headline">
                Confirmer la suppression ?
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="green darken-1"
                  text
                  @click="dialogDeleteRecipe = false"
                >
                  Annuler
                </v-btn>
                <v-btn color="green darken-1" text @click="deleteRecipe">
                  Confirmer
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </v-col>
    </v-row>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        outlined
        dense
        class="mb-4"
        v-model="name"
        :rules="nameRules"
        label="Intitulé"
        required
        hide-details
        @click="alertRecipeSaved = false"
      ></v-text-field>
      <v-text-field
        outlined
        dense
        class="mb-4"
        v-model="parts"
        label="Nombre de portions"
        type="number"
        hide-details
      ></v-text-field>
      <v-select
        class="mb-4 select-categories"
        v-model="selectedCategories"
        return-object
        :items="categories"
        chips
        label="Catégories"
        multiple
        outlined
        item-text="name"
        item-value="id"
        hide-details
      >
      </v-select>
      <text-editor
        class="mb-4"
        @editor-change="handleEditorChange"
        v-if="description || !recipe"
        :content="description"
      ></text-editor>
      <v-card v-if="currentIngredients.length > 0" class="my-3 pb-2">
        <v-card-subtitle class="card-subtitle px-2 pt-1 pb-3"
          >Liste des ingrédients</v-card-subtitle
        >
        <v-card-text
          class="px-2 pb-2"
          v-for="currentIngredient in currentIngredients"
          :key="currentIngredient.ingredient.id"
        >
          <v-row style="max-height: 30px">
            <v-col class="py-0 pr-2 pl-3 ingredient-name" cols="12">
              - {{ formatIngredient(currentIngredient) }}
              <v-btn
                icon
                x-small
                color="#696969"
                @click="deleteIngredient(currentIngredient.cookId)"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            outlined
            id="add-ingredient-button"
            color="#3A8091"
            dark
            v-bind="attrs"
            v-on="on"
          >
            Ajouter un ingrédient
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Ajouter un ingrédient</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-form ref="ingredientForm" v-model="valid" lazy-validation>
                <v-autocomplete
                  v-model="ingredient"
                  :items="ingredients"
                  color="white"
                  item-text="name"
                  return-object
                  label="Ingrédient"
                  required
                ></v-autocomplete>
                <v-text-field
                  v-model="quantity"
                  label="Quantité"
                  type="number"
                  step="any"
                ></v-text-field>
                <v-select
                  v-model="unit"
                  :items="units"
                  label="Unité de mesure"
                  item-text="name"
                  return-object
                ></v-select>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false"
              >Annuler</v-btn
            >
            <v-btn
              :disabled="!validIngredient"
              color="success"
              class="mr-4"
              @click="addIngredient"
            >
              Valider
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-btn
        :disabled="!valid"
        color="#3A8091"
        class="my-8"
        id="submit-button"
        @click="validate"
      >
        <span style="color: white">Enregistrer</span>
      </v-btn>
    </v-form>
  </v-container>
</template>

<script>
import { RecipeService } from "../services/recipe.service.js";
import { UnitService } from "../services/unit.service";
import { IngredientService } from "../services/ingredient.service";
import { CookService } from "../services/cook.service";
import { CategoryService } from "../services/category.service";
import TextEditor from "../components/TextEditor";
import { ToolsService } from "../services/tools.service";

export default {
  components: {
    TextEditor,
  },
  data: () => ({
    dialog: false,
    dialogDeleteRecipe: false,
    parts: null,
    valid: true,
    validIngredient: true,
    name: "",
    nameRules: [(v) => !!v || "Nom requis"],
    description: "",
    quantity: null,
    unit: null,
    units: [],
    ingredient: null,
    ingredients: [],
    currentIngredients: [],
    categories: [],
    selectedCategories: [],
    alertRecipeSaved: false,
    recipe: null,
  }),

  created() {
    if (this.$route.params.id) {
      this.loadRecipe(this.$route.params.id);
    }

    UnitService.findAll()
      .then((response) => {
        this.units = response.data;
      })
      .catch((error) => {
        console.log(error);
      });

    IngredientService.findAll()
      .then((response) => {
        this.ingredients = response.data;
      })
      .catch((error) => {
        console.log(error);
      });

    CategoryService.findAll()
      .then((response) => {
        this.categories = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    loadRecipe: function(recipeId) {
      RecipeService.findOne(recipeId)
        .then(async (response) => {
          this.recipe = response.data;
          this.name = this.recipe.name;
          this.description = this.recipe.description.length > 0 ? this.recipe.description : "";
          this.parts = this.recipe.parts;
          this.selectedCategories = this.recipe.categories;
          this.currentIngredients = [];

          let cooks = await CookService.findByRecipe(this.recipe.id);

          cooks.data.forEach(async (cook) => {
            let ingredient = await IngredientService.findOne(cook.ingredientId);
            let unit = null;

            if (cook.unitId) {
              unit = await UnitService.findOne(cook.unitId);
            }

            this.currentIngredients.push({
              ingredient: {
                id: ingredient.data.id,
                name: ingredient.data.name,
              },
              cookId: cook.id,
              quantity: cook.quantity ? parseFloat(cook.quantity) : null,
              unit: unit ? { id: unit.data.id, name: unit.data.name } : null,
            });
          });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    deleteIngredient: function(cookId) {
      CookService.delete(cookId)
        .then(() => {
          this.loadRecipe(this.recipe.id);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    deleteRecipe() {
      RecipeService.delete(this.recipe.id)
        .then(() => {
          this.$router.push({ name: "recipes" });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getTitle() {
      return this.recipe ? "Modifier une recette" : "Ajouter une recette";
    },
    handleEditorChange(content) {
      this.description = content;
    },
    async validate() {
      if (this.$refs.form.validate()) {
        let data = {
          name: this.name,
          description: this.description,
          parts: parseInt(this.parts),
          categories: this.selectedCategories,
        };

        let response = null;

        if (this.recipe) {
          response = await RecipeService.update(this.recipe.id, data);

          CookService.findByRecipe(this.recipe.id)
            .then((response) => {
              response.data.forEach((cook) => {
                CookService.delete(cook.id);
              });
            })
            .catch((err) => {
              console.log(err);
            });
        } else {
          response = await RecipeService.create(data);
        }

        let promises = [];

        for (let i = 0; i < this.currentIngredients.length; i++) {
          promises.push(
            CookService.create({
              quantity: this.currentIngredients[i].quantity,
              recipeId: response.data.id,
              ingredientId: this.currentIngredients[i].ingredient.id,
              unitId: this.currentIngredients[i].unit
                ? this.currentIngredients[i].unit.id
                : null,
            })
          );
        }

        await Promise.all(promises);

        if (this.recipe) {
          this.$router.push('/recipes');
        }

        this.currentIngredients = [];
        this.name = "";
        this.description = "";
        this.parts = null;
        this.dialog = false;
        this.selectedCategories = [];
        this.alertRecipeSaved = true;
      }
    },
    addIngredient() {
      if (this.$refs.ingredientForm.validate()) {
        this.currentIngredients.push({
          quantity: this.quantity ? parseFloat(this.quantity) : null,
          recipeId: null,
          ingredient: { id: this.ingredient.id, name: this.ingredient.name },
          unit: this.unit ? { id: this.unit.id, name: this.unit.name } : null,
        });
        this.ingredient = null;
        this.unit = null;
        this.quantity = null;
        this.dialog = false;
      }
    },
    formatIngredient(cook) {
      return ToolsService.formatIngredient(cook);
    },
  },
};
</script>

<style scoped>
#title {
  font-size: 23px !important;
  font-family: "Indie Flower", cursive;
}
#submit-button {
  width: 100%;
}
#add-ingredient-button {
  width: 100%;
}
.card-subtitle {
  font-weight: 500 !important;
}
.v-card__title {
  font-size: 18px !important;
}
.flex {
  display: flex;
}
.ingredient-name {
  display: flex;
  align-items: center;
}
</style>
