<template>
  <v-container class="container full-height">
    <h1>Création de compte</h1>
    <div
      id="main-div"
      class="d-flex justify-center align-center align-self-center full-height"
    >
      <v-alert v-if="registerError" dense outlined type="error">
        Un compte est déjà existant pour cette adresse email
      </v-alert>
      <v-form id="register-form" ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="Email"
          required
        ></v-text-field>
        <v-text-field
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          v-model="password"
          :rules="passwordRules"
          label="Mot de passe"
          required
          @click:append="showPassword = !showPassword"
        ></v-text-field>
        <v-btn
          id="submit-button"
          :disabled="!valid"
          color="success"
          class="mr-4"
          @click="registerSubmit"
        >
          S'inscrire
        </v-btn>
        <div id="register-div">
          Déjà inscrit ? <br />
          <b>
            <a id="register-link" @click="$router.push('login')">
              Je me connecte !
            </a>
          </b>
        </div>
      </v-form>
    </div>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Register",

  data: () => ({
    valid: true,
    showPassword: false,
    email: "",
    emailRules: [
      (v) => !!v || "Email requis",
      (v) => /.+@.+\..+/.test(v) || "Email non valide",
    ],
    password: "",
    passwordRules: [
      (v) => !!v || "Mot de passe requis",
      (v) =>
        (v && v.length >= 8) ||
        "Le mot de passe doit contenir 8 caractères au minimum",
    ],
  }),

  computed: {
    ...mapState("user", ["registerError"]),
  },

  methods: {
    registerSubmit: function() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch("user/register", {
          email: this.email,
          password: this.password,
        });
      }
    },
  },
};
</script>

<style scoped>
.full-height {
  height: 100%;
}
#main-div {
  height: 100%;
}
#register-form {
  width: 300px;
}
#register-div {
  margin-top: 50px;
}
#register-link {
  text-decoration: none;
}
#submit-button {
  margin-top: 10px;
}
</style>
