<template>
  <v-container class="pb-10">
    <v-row class="mx-1">
      <v-col cols="10" class="flex">
        <h1 id="title" class="text-center mb-3">Listes de courses</h1>
      </v-col>
      <v-col cols="2" class="flex">
        <v-btn icon small color="#696969" @click="clearShopList">
          <v-icon>mdi-archive-arrow-down</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-expansion-panels popout>
      <v-expansion-panel v-for="list in lists" :key="list.id">
        <v-expansion-panel-header>
          {{ list.title }}
        </v-expansion-panel-header>
        <v-expansion-panel-content class="pa-0">
          <v-list-item v-for="shopList in list.shopLists" :key="shopList.id">
            <v-list-item-action>
              <v-checkbox
                :input-value="shopList.checked"
                @click="handleCheckboxClick(shopList)"
              ></v-checkbox>
            </v-list-item-action>
            <v-list-item-content class="py-1">
              <v-list-item-title
                class="text-wrap"
                v-bind:class="{ lineThrough: shopList.checked }"
              >
                {{ formatIngredient(shopList) }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-dialog v-model="dialog" max-width="500px">
      <template v-slot:activator="{ on }">
        <v-btn class="btn-add-ingredient" fab x-small color="#3A8091" v-on="on">
          <v-icon color="white">
            mdi-plus
          </v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Ajouter un ingrédient</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-select
                v-model="listForm"
                :items="lists"
                label="Liste"
                item-text="title"
                return-object
              ></v-select>
              <v-autocomplete
                v-model="ingredient"
                :items="ingredients"
                :rules="ingredientRules"
                color="white"
                item-text="name"
                return-object
                label="Ingrédient"
                required
              ></v-autocomplete>
              <v-text-field
                v-model="quantity"
                label="Quantité"
                type="number"
                step="any"
              ></v-text-field>
              <v-select
                v-model="unit"
                :items="units"
                label="Unité de mesure"
                item-text="name"
                return-object
              ></v-select>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
          <v-btn
            text
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="handleAddIngredient"
            >Enregistrer</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { UserService } from "../services/user.service";
import { ShopListService } from "../services/shopList.service";
import { UnitService } from "../services/unit.service";
import { IngredientService } from "../services/ingredient.service";
import { ToolsService } from "../services/tools.service";
import { UserListService } from "../services/user-list.service";

export default {
  data() {
    return {
      user: null,
      lists: [],
      shopItems: [],
      quantity: null,
      unit: null,
      units: [],
      ingredient: null,
      ingredientRules: [(v) => !!v || "Ingrédient requis"],
      ingredients: [],
      valid: true,
      dialog: false,
      listForm: null,
    };
  },
  created() {
    UserService.getCurrentUser()
      .then((response) => {
        this.user = response.data;
        this.loadShopItems();
      })
      .catch((error) => {
        console.log(error);
      });
    UnitService.findAll()
      .then((response) => {
        this.units = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
    IngredientService.findAll()
      .then((response) => {
        this.ingredients = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.unit = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    loadShopItems() {
      UserListService.findByUserId(this.user.id)
        .then((result) => {
          this.lists = result.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    handleCheckboxClick(item) {
      ShopListService.update(item.id, {
        checked: !item.checked,
      })
        .then(() => {
          this.loadShopItems();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    clearShopList() {
      this.lists.forEach((list) => {
        list.shopLists.forEach((shopList) => {
          if (shopList.checked) {
            ShopListService.delete(shopList.id)
              .then(() => {
                this.loadShopItems();
              })
              .catch((err) => {
                console.log(err);
              });
          }
        });
      });
    },
    handleAddIngredient() {
      if (this.$refs.form.validate()) {
        ShopListService.create({
          ingredient: this.ingredient,
          unit: this.unit ?? null,
          quantity: this.quantity,
          checked: false,
          userList: this.listForm,
        })
          .then(() => {
            this.loadShopItems();
            this.close();
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    formatIngredient(cook) {
      return ToolsService.formatIngredient(cook);
    },
  },
};
</script>

<style scoped>
#title {
  font-family: "Indie Flower", cursive;
  font-size: 23px;
}
.lineThrough {
  text-decoration: line-through;
}
.flex {
  display: flex;
}
.btn-add-ingredient {
  position: fixed;
  bottom: 50px;
  right: 20px;
}
</style>
