<template>
  <v-container>
    <h1 id="title" class="mb-2 text-center">Unités de mesure</h1>
    <v-data-table
      :headers="headers"
      :items="units"
      :search="search"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Unités</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <div id="search">
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Rechercher"
              single-line
              hide-details
            ></v-text-field>
          </div>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Réinitialiser</v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="500px">
      <template v-slot:activator="{ on }">
        <v-btn class="btn-add-unit" fab x-small color="#3A8091" v-on="on">
          <v-icon color="white">
            mdi-plus
          </v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="unit.name"
                :rules="nameRules"
                label="Nom de l'unité"
                required
              ></v-text-field>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
          <v-btn
            text
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="save"
            >Enregistrer</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { UnitService } from "../services/unit.service";

export default {
  data: () => ({
    search: "",
    units: [],
    valid: true,
    dialog: false,
    unit: {
      id: null,
      name: "",
    },
    nameRules: [(v) => !!v || "Nom de l'unité requis"],
    headers: [
      {
        text: "Intitulé",
        align: "start",
        value: "name",
      },
      { text: "Actions", value: "actions", sortable: false },
    ],
    editedIndex: -1,
    defaultItem: {
      name: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Ajouter une unité"
        : "Modifier une unité";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  mounted() {
    this.initialize();
  },

  methods: {
    initialize() {
      UnitService.findAll()
        .then((response) => {
          this.units = response.data;
        })
        .catch((error) => {
          console.log(error.message);
        });
    },

    editItem(item) {
      this.editedIndex = this.units.indexOf(item);
      this.unit = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      confirm("Êtes vous sûr de vouloir supprimer cette unité ?") &&
        UnitService.delete(item.id)
          .then(() => {
            this.initialize();
          })
          .catch((error) => {
            console.log(error.message);
          });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.unit = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        let unitData = {
          name: this.unit.name,
        };

        if (this.unit.id) {
          UnitService.update(this.unit.id, unitData)
            .then(() => {
              this.close();
              this.initialize();
            })
            .catch((error) => {
              console.log(error.message);
            });
        } else {
          UnitService.create(unitData)
            .then(() => {
              this.close();
              this.initialize();
            })
            .catch((error) => {
              console.log(error.message);
            });
        }
      }
    },
  },
};
</script>

<style scoped>
#search {
  min-width: 260px;
  margin-right: 100px;
}
.full-height {
  height: 100%;
}
#main-div {
  display: flex;
  flex-direction: column;
}
.btn-add-unit {
  position: fixed;
  bottom: 50px;
  right: 20px;
}
#title {
  font-family: "Indie Flower", cursive;
  font-size: 23px;
}
</style>
