<template>
    <v-footer id="footer" color="#EB6A59" absolute>
      <span class="white--text">&copy; 2020</span>
    </v-footer>
</template>

<style scoped>
#footer {
  display: flex;
  justify-content: center;
  position: fixed;
}
</style>
