<template>
  <div id="main-div">
    <v-navigation-drawer v-model="drawer" app right>
      <v-list dense>
        <v-list-item
          class="list-item"
          link
          @click="$router.push({ name: 'recipes' })"
        >
          <v-list-item-action class="list-item-action">
            <v-icon>mdi-book-open-variant</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="list-item-title">
              Recettes
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          class="list-item"
          link
          @click="$router.push({ name: 'units' })"
        >
          <v-list-item-action class="list-item-action">
            <v-icon>mdi-beaker</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="list-item-title">
              Unités
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          class="list-item"
          link
          @click="$router.push({ name: 'categories' })"
        >
          <v-list-item-action class="list-item-action">
            <v-icon>mdi-label</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="list-item-title">
              Catégories
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          class="list-item"
          link
          @click="$router.push({ name: 'ingredients' })"
        >
          <v-list-item-action class="list-item-action">
            <v-icon>mdi-food-apple</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="list-item-title">
              Ingrédients
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-group no-action prepend-icon="mdi-cart">
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>Listes de courses</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            class="list-item"
            link
            @click="$router.push({ name: 'shop-list' })"
          >
            <v-list-item-action class="list-item-action">
              <v-icon>mdi-clipboard-list</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="list-item-title">
                Consulter
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            class="list-item"
            link
            @click="$router.push({ name: 'lists' })"
          >
            <v-list-item-action class="list-item-action">
              <v-icon>mdi-pencil</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="list-item-title">
                Modifier
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-item class="list-item" id="logout-item" link @click="logout">
          <v-list-item-action class="list-item-action">
            <v-icon>exit_to_app</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="list-item-title">
              Déconnexion
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar clipped-right app color="#EB6A59" dark dense>
      <v-spacer></v-spacer>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
    </v-app-bar>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "MenuDrawer",

  data() {
    return {
      drawer: false,
      valid: true,
    };
  },
  methods: {
    ...mapActions("user", ["logout"]),
  },
};
</script>

<style scoped>
#main-div {
  margin-bottom: 50px;
}
.list-item {
  width: 100%;
}
.list-item-title {
  display: flex;
}
.list-item-action {
  margin-right: 15px !important;
}
#logout-item {
  position: absolute;
  bottom: 0px;
}
#firm-select {
  max-width: 500px;
  margin-left: 30px;
  margin-top: 15px;
}
</style>
