<template>
  <div class="editor">
    <!-- <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
      <div class="menubar">
        <v-btn
          text
          icon
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
        >
          <v-icon>mdi-format-bold</v-icon>
        </v-btn>
      </div>
    </editor-menu-bar> -->

    <editor-content class="editor-box" :editor="editor" />
  </div>
</template>

<script>
import { Editor, EditorContent /* , EditorMenuBar */ } from "tiptap";
/* import {
  HardBreak,
  Heading,
  OrderedList,
  BulletList,
  ListItem,
  Bold,
  Link,
  Strike,
  Underline,
} from "tiptap-extensions"; */
export default {
  components: {
    EditorContent,
    //EditorMenuBar,
  },
  props: {
    content: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      editor: new Editor({
        /* extensions: [
          new BulletList(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new ListItem(),
          new OrderedList(),
          new Link(),
          new Bold(),
          new Strike(),
          new Underline(),
        ], */
        onUpdate: ({ getHTML }) => {
          const newContent = getHTML();
          this.$emit("editor-change", newContent);
        },
        content: "",
      }),
    };
  },
  mounted() {
    this.editor.setContent(this.content);
  },
  beforeDestroy() {
    this.editor.destroy();
  },
};
</script>

<style scoped>
.editor-box {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

.is-active {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}
</style>
