<template>
  <v-app>
    <MenuDrawer v-if="showMenu" />
    <router-view :key="$route.fullPath"></router-view>
    <Footer v-if="showFooter" />
  </v-app>
</template>

<script>
import MenuDrawer from "./components/MenuDrawer";
import Footer from "./components/Footer";

export default {
  components: {
    MenuDrawer,
    Footer,
  },
  computed: {
    showMenu() {
      return (
        this.$route.name !== "login" &&
        this.$route.name !== "register" &&
        this.$route.name !== "root"
      );
    },
    showFooter() {
      return (
        this.$route.name !== "login" &&
        this.$route.name !== "register" &&
        this.$route.name !== "root"
      );
    },
  },
};
</script>
